import java.util.Scanner;
public class GST_calculate {
    public static void main(String[]args){
        Scanner ab=new Scanner(System.in);
        System.out.print("Enter amount:");
        double a=ab.nextFloat();
        double b;
        b=a + (a*0.18);
        System.out.print("your GST include is"+b);
    }
}
